*{
    margin:0;
    padding:0;
}

body {
    background: linear-gradient(90deg, #2b2b2b, #0d0d0d);
    color: white;
}

.container{
    display:flex;
    justify-content:center;
}

h2{
    display:flex;
    justify-content:center;
}

h2 span{
    margin: 1rem;
    background-color:black;
    padding:1rem;
    border-radius: 2vmin;
}

#outer-clock {
  position: relative;
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1a1a1a, #000000);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers{
   position:absolute;
font: 600 16px sans-serif;
}

#inner-clock {
  height: 58vh;
  width: 58vh;
  border-radius: 50%;
  background: radial-gradient(circle at center, #2b2b2b, #0d0d0d);
  display:flex;
  justify-content: center;
  align-items:center;
}

#center-pointer{
    background-color:#ffffff;
}